@page "/"
@page "/overview"
@using Hrm.Web.Share.Ultils;
@using luanvanthacsi.Data.Entities;
<PageHeader Class="site-page-header" Title="Tổng quan">
    <PageHeaderExtra>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem>Trang chủ</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderExtra>
</PageHeader>
<Row Gutter="24">
    <AntDesign.Col Span="24">
        <Row Gutter="10">
            <GridCol Style="width:25%;">
                <div @onclick="OpenScientists">
                    <Card Style="background-color: #ff5370" Class="image-button">
                        <CardGrid Class="card-grid" Hoverable="true">
                            <div style="margin-top: -12px;">
                                <Icon Type="clock-circle" Theme="outline" Width="32px" Height="32px" /><br />
                                <b>Nhà khoa học</b>
                            </div>
                        </CardGrid>
                    </Card>
                </div>
            </GridCol>
            <GridCol Style="width:25%;">
                <div @onclick="OpenStudentList">
                    <Card Style="background-color: #4099ff" Class="image-button">
                        <CardGrid Class="card-grid" Hoverable="true">
                            <div style="margin-top: -12px;">
                                <Icon Type="calendar" Theme="outline" Width="32px" Height="32px" /><br />
                                <b>Học viên</b>
                            </div>
                        </CardGrid>
                    </Card>
                </div>
            </GridCol>
            <GridCol Style="width:25%;">
                <div @onclick="onpenThesisDefenses">
                    <Card Style="background-color: #2ed8b6" Class="image-button">
                        <CardGrid Class="card-grid" Hoverable="true">
                            <div style="margin-top: -12px;">
                                <Icon Type="swap" Theme="outline" Width="32px" Height="32px" /><br />
                                <b>Đợt bảo vệ</b>
                            </div>
                        </CardGrid>
                    </Card>
                </div>
            </GridCol>
            <GridCol Style="width:25%;">
                <div @onclick="OpenEvaluationBoards">
                    <Card Style="background-color: #ffb64d" Class="image-button">
                        <CardGrid Class="card-grid" Hoverable="true">
                            <div style="margin-top: -12px;">
                                <Icon Type="database" Theme="outline" Width="32px" Height="32px" /><br />
                                <b>Hội đồng đánh giá</b>
                            </div>
                        </CardGrid>
                    </Card>
                </div>
            </GridCol>
        </Row>
    </AntDesign.Col>
</Row>
<Row Style="margin-top: 16px">
    <AntDesign.Col Span="12" Style="padding-right: 5px">
        <div class="shadow_css background-white" style="padding-bottom: 10px">
            <Row Justify="space-between" Style="padding-top: 8px">
                <Title Level="4" Style="margin-left: 24px">Thống kê nhà khoa học</Title>
                <Space Size="@("small")">
                    <SpaceItem>
                        <Button Type="@ButtonType.Text" Icon="@IconType.Fill.Setting" OnClick="@(()=>{ _visible = true; })"></Button>
                    </SpaceItem>
                </Space>
            </Row>
            @if (CurrentUser?.FacultyId == null)
            {
                if (facultyList != null)
                {
                    var name = facultyList.Where(x => x.Id == facultyId).Select(x => x.Name).FirstOrDefault();
                    <span style="padding-left: 24px; font-weight: 500">@name</span>
                }
            }
            @if (id == null)
            {
                <span style="padding-left: 24px; font-weight: 500">Tổng quát</span>
            }
            else
            {
                var name = scientistList.Where(x => x.Id == id).Select(x => x.Name).FirstOrDefault();
                <span style="padding-left: 24px; font-weight: 500">@name</span>
            }
            @if (DataStatisticalScient?.Any() == true)
            {
                <AntDesign.Charts.Pie @ref="Chart1" Data="DataStatisticalScient" Config="ConfigStatisticalStaff" JsConfig="@DefaultChartConfig.JsDonutChartConfig" />
            }
        </div>
    </AntDesign.Col>
    <AntDesign.Col Span="12" Style="padding-right: 5px">
        <div class="shadow_css background-white" style="padding-bottom: 10px">
            <Row Justify="space-between" Style="padding-top: 8px">
                <Title Level="4" Style="margin-left: 24px">Thống kê học viên</Title>
                <Space Size="@("small")">
                    <SpaceItem>
                        <Button Type="@ButtonType.Text" Icon="@IconType.Fill.Setting" OnClick="@(()=>{ _visible1 = true; })"></Button>
                    </SpaceItem>
                </Space>
            </Row>
            <span style="padding-left: 24px; font-weight: 500"> Năm @id1</span>
            @if (CurrentUser?.FacultyId == null)
            {
                if (facultyList != null)
                {
                    var name = facultyList.Where(x => x.Id == facultyIdOfStudent).Select(x => x.Name).FirstOrDefault();
                    <span style="padding-left: 24px; font-weight: 500">@name</span>
                }
            }
            @if (data2?.Any() == true)
            {
                <AntDesign.Charts.Column @ref="Chart2" @key="chartKey" Data="data2" Config="config2" />
            }
        </div>
    </AntDesign.Col>
</Row>
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    @if (CurrentUser.FacultyId == null)
    {
        <label>Chọn khoa</label>
        <Select TItem="Faculty" TItemValue="string"
            DataSource="facultyList" AllowClear
            EnableSearch @bind-Value="facultyId"
            ValueName="@nameof(Scientist.Id)"
            LabelName="@nameof(Scientist.Name)"
            Placeholder="Chọn khoa"
            OnSelectedItemChanged="ChangeFaculty">
        </Select>
        <br />
        <br />
    }
    <label>Chọn nhà khoa học</label>
    <Select TItem="Scientist" TItemValue="string"
            DataSource="scientistList" AllowClear
            EnableSearch @bind-Value="id"
            ValueName="@nameof(Scientist.Id)"
            LabelName="@nameof(Scientist.Name)"
            Placeholder="Chọn nhà khoa học">
    </Select>
</Modal>

<Modal Title="@title1"
       Visible="@_visible1"
       OnOk="@HandleOk1"
       OnCancel="@HandleCancel1">
    @if (CurrentUser.FacultyId == null)
    {
        <label>Chọn khoa</label>
        <Select TItem="Faculty" TItemValue="string"
            DataSource="facultyList" AllowClear
            EnableSearch @bind-Value="facultyIdOfStudent"
            ValueName="@nameof(Scientist.Id)"
            LabelName="@nameof(Scientist.Name)"
            Placeholder="Chọn khoa"
            OnSelectedItemChanged="ChangeFacultyOfStudent">
        </Select>
        <br />
        <br />
    }
    <label> Chọn năm</label>
    <Select TItem="int" TItemValue="int"
            EnableSearch @bind-Value="id1"
            Placeholder="Chọn năm bảo vệ">
        <SelectOptions>
            @foreach (var item in yearList)
            {
                <SelectOption TItemValue="int" TItem="int" Value=@item Label=@item.ToString() />
            }
        </SelectOptions>
    </Select>
</Modal>
@code {
    string id;
    int id1 = DateTime.Now.Year;
    int chartKey = 0;
    string title = "Tham số biểu đồ nhà khoa học";
    string title1 = "Tham số biểu đồ học viên";
    bool _visible = false;
    bool _visible1 = false;

    private async Task HandleOk(MouseEventArgs e)
    {
        _visible = false;
        await LoadScientistAsync();
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _visible = false;
    }
    private async Task HandleOk1(MouseEventArgs e)
    {
        _visible1 = false;
        await LoadStudentAsync();
    }

    private void HandleCancel1(MouseEventArgs e)
    {
        _visible1 = false;
    }
}