@using luanvanthacsi.Data.Entities;
@using static luanvanthacsi.Data.Components.Enum;
<Form @ref="form"
      Model="EditModel" LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <Template style="height:90%">
        <FormItem Label="Mã" Required>
            <Input @bind-Value="@context.Code" ReadOnly />
        </FormItem>
        <FormItem Label="Họ và tên">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="Email">
            <Input @bind-Value="@context.Email" />
        </FormItem>
        <FormItem Label="Số điện thoại">
            <Input @bind-Value="@context.PhoneNumber" />
        </FormItem>
        <FormItem Label="Vị trí" Required>
            <Select TItem="selectInUniversity" TItemValue="int"
                    @bind-Value="@context.InUniversity"
                    DataSource="@_selectInUniversity"
                    OnSelectedItemChanged="ChangeSelected"
                    LabelName="@nameof(selectInUniversity.Name)"
                    ValueName="@nameof(selectInUniversity.Value)">
            </Select>
        </FormItem>
        @if (context.InUniversity == 1)
        {
            <FormItem Label="Chuyên ngành">
                <Select TItem="Specialized" TItemValue="string" DataSource="specializedList"
                    EnableSearch Placeholder="Chọn chuyên ngành"
                    @bind-Value="@context.SpecializedId"
                    ValueName="@nameof(Specialized.Id)"
                    LabelName="@nameof(Specialized.Name)">
                </Select>
                </FormItem>
        }
        else
        {
            <FormItem Label="Cơ quan công tác">
                <Input @bind-Value="@context.WorkingAgency"  />
            </FormItem>
        }

        <FormItem Label="Học hàm">
            <Select TItem="selectAcademicRank" TItemValue="int"
                    @bind-Value="@context.AcademicRank"
                    DataSource="@_selectAcademicRanks"
                    LabelName="@nameof(selectAcademicRank.Name)"
                    ValueName="@nameof(selectAcademicRank.Value)">
            </Select>
        </FormItem>
        <FormItem Label="Học vị" Required>
            <Input @bind-Value="@context.Degree" ReadOnly />
        </FormItem>
        <FormItem Label="CV">
            <Space>
                <SpaceItem>
                    <Tooltip Title="@("Tải xuống file đính kèm")">
                        <Icon Type="download" Theme="outline" OnClick="() => GetFileAttachAsync(EditModel)" Class="pointer" />
                    </Tooltip>
                </SpaceItem>
                <SpaceItem>
                    <Tooltip Title="@("Xóa file đính kèm")">
                        <Popconfirm Placement="@Placement.LeftBottom"
                                    OnConfirm="() => ClearFile(context)"
                                    OkText="Đồng ý"
                                    CancelText="Hủy">
                            <ChildContent>
                                <Icon Type="delete" Theme="outline" Class="pointer" />
                            </ChildContent>
                            <TitleTemplate>
                                Bạn có chắc chắn muốn xóa đính kèm này?
                            </TitleTemplate>
                        </Popconfirm>
                    </Tooltip>
                </SpaceItem>
                <SpaceItem>
                    <Tooltip Title="@("Tải lên file đính kèm")">
                        <Icon Class="upload pointer" Type="cloud-upload" Theme="outline" OnClick="() => Upload(EditModel)" Style="width:24px; height: 24px" />
                    </Tooltip>
                </SpaceItem>
            </Space>
        </FormItem>
        <FormItem>
            <Input @bind-Value="@context.FileName" ReadOnly />
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Space>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        Lưu
                    </Button>
                </SpaceItem>
                <SpaceItem>
                    <Popconfirm Placement="@Placement.LeftBottom"
                                OnConfirm="Reset"
                                OkText="Đồng ý"
                                CancelText="Hủy">
                        <ChildContent>
                            <Button Type="@ButtonType.Primary" Danger>Hủy</Button>
                        </ChildContent>
                        <TitleTemplate>
                            Hủy sẽ xóa dữ liệu bạn đang thao tác. bạn có chắc muốn hủy không?
                        </TitleTemplate>
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </FormItem>
    </Template>
</Form>

<Modal Title="@("Đính kèm")" Visible="@uploadVisible" OnOk="ReadFile" OnCancel="CancelModal">
    <input id="uploadFile" disabled class="f-input" value="@AttachFileName" style="margin: 0 !important" />
    <div class="fileUpload btn btn--browse" style="margin: 0 !important">
        <span><Icon Type="plus" Theme="outline" />Đính kèm</span>
        <input id="uploadBtn" type="file" class="upload" @ref=inputTypeFileElement @onchange="GetNameFile" />
    </div>
</Modal>

@code {
    class selectInUniversity
    {
        public int Value { get; set; }
        public string Name { get; set; }
    }
    class selectAcademicRank
    {
        public int Value { get; set; }
        public string Name { get; set; }
    }
}