@page "/scientists"
@using luanvanthacsi.Data.Components
@using luanvanthacsi.Data.Data;
@attribute [Authorize(Roles = "Admin,Bcnkhoa")]
<PageTitle>Quản lý nhà khoa học</PageTitle>
<PageHeader Style="padding: 0;">
    <PageHeaderExtra>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem>Nhà khoa học</BreadcrumbItem>
            <BreadcrumbItem>Danh sách nhà khoa học</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderExtra>
</PageHeader>
<Row>
    <Space>
        <SpaceItem>
            <Button Icon="plus" Type="@ButtonType.Primary" Color="Color.Green7" @onclick="AddScientist">Thêm</Button>
        </SpaceItem>
        <SpaceItem>
            @if (selectedRows?.Any() == true)
            {
                <SpaceItem>
                    <Popconfirm Placement="@Placement.LeftBottom"
                            OnConfirm="() => DeleteAsync()"
                            OkText="Đồng ý"
                            CancelText="Hủy">
                        <ChildContent>
                            <Button Type="@ButtonType.Primary" Color="Color.Red7">Xóa</Button>
                        </ChildContent>
                        <TitleTemplate>
                            Bạn có chắc chắn muốn xóa
                            @if (selectedRows.Count() == 1)
                            {
                                <strong> @selectedRows?.FirstOrDefault().Name</strong>

                                <span>?</span>
                            }
                            else
                            {
                                <strong> @selectedRows.Count()</strong> <span>nhà khoa học?</span>
                            }
                        </TitleTemplate>
                    </Popconfirm>
                </SpaceItem>
            }
        </SpaceItem>
    </Space>
</Row>
<br />
<Table @ref="table" DataSource="scientistDatas" Loading="loading" ScrollX="1500" ScrollY="600" ScrollBarWidth="5px" Locale="TableLocale"
       TItem="ScientistData"
       OnRowClick="OnRowClick"
       @bind-SelectedRows="selectedRows">
    <ChildContent>
        <Selection Key="@context.Id" Fixed="left" Width="50px"></Selection>
        <Column @bind-Field="context.stt" Width="100px;" Sortable></Column>
        <Column @bind-Field="context.Code" Filterable Sortable></Column>
        <Column @bind-Field="context.Name" Filterable Sortable></Column>
        <Column @bind-Field="context.Email" Ellipsis Filterable></Column>
        <Column @bind-Field="context.PhoneNumber"></Column>
        <Column @bind-Field="context.SpecializedName" Ellipsis>
        </Column>
        <Column @bind-Field="context.AcademicRank">
            @if (context.AcademicRank == 1)
            {
                <span>Giáo sư</span>
            }
            else if(context.AcademicRank == 0)
            {
                <span>Phó giáo sư</span>
            }
        </Column>
        <Column @bind-Field="context.Degree"></Column>
        <Column @bind-Field="context.InUniversity">
            @if (context.InUniversity == 1)
            {
                <span>Trong trường</span>
            }
            else
            {
                <span>Ngoài trường</span>
            }
        </Column>
        <ActionColumn Title="Thao tác">
            <ChildContent>
                <Row Justify="center">
                    <Space>
                        <SpaceItem>
                            <Tooltip Placement="@Placement.Top" Title="@("Xem chi tiết")">
                                <Icon Type="edit" @onclick="() => Edit(context)" Theme="fill" Class="btn-icon-edit" StopPropagation />
                            </Tooltip>
                        </SpaceItem>
                        <SpaceItem>
                            <Tooltip Placement="@Placement.Top" Title="@("Xóa")">
                                <Popconfirm Title="Xác nhận xóa?"
                                            OnConfirm="()=> DeleteScientist(context)"
                                            OkText="Có"
                                            CancelText="Không">
                                    <Icon Type="delete" Theme="fill" Class="btn-icon-delete"/>
                                </Popconfirm>
                            </Tooltip>
                        </SpaceItem>
                    </Space>
                </Row>
            </ChildContent>
        </ActionColumn>
    </ChildContent>
    <PaginationTemplate>
        <PaginationCustom Context="context"></PaginationCustom>
    </PaginationTemplate>
</Table>

<Drawer Closable="true" Visible="visible" Placement="right" Width=500 Title='("Nhà khoa học")' OnClose="OnClose">
    <ScientistEdit @ref="scientistEdit" Cancel="() => visible = false" ValueChange="Save" CurrentUser="CurrentUser"></ScientistEdit>
</Drawer>
