@using luanvanthacsi.Data.Data;
<Modal Title="@("Danh sách học viên")"
       Visible="ModalVisible" Width="1200"
       OnOk="@HandleOk" Style="top: 50px; bottom: 50px"
       OnCancel="ChangeModalVisible">
    <Row>
        <Table @ref="table" TItem="StudentData" DataSource="studentDatas" Locale="TableLocale"
               OnRowClick="OnRowClick" Size=@TableSize.Small
               @bind-SelectedRows="selectedRows">
            <Selection Key="@context.Id" Fixed="true" />
            <Column @bind-Field="@context.stt" Fixed="true"></Column>
            <Column @bind-Field="@context.Code" Ellipsis="true" Fixed="true"></Column>
            <Column @bind-Field="@context.Name" Ellipsis="true" Fixed="true"></Column>
            <Column @bind-Field="@context.Email" Ellipsis="true"></Column>
            <Column @bind-Field="@context.PhoneNumber" Ellipsis="true"></Column>
            <Column @bind-Field="@context.DateOfBirth" Format="dd/MM/yyyy" Ellipsis="true"></Column>
            <Column @bind-Field="@context.TopicName" Ellipsis="true"></Column>
        </Table>
    </Row>

</Modal>