@page "/thesisDefenses"
@using luanvanthacsi.Data.Data;
@attribute [Authorize(Roles = "Admin")]
<PageTitle>Mở đợt bảo vệ</PageTitle>
<PageHeader Style="padding: 0;">
    <PageHeaderExtra>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem>Đợt bảo vệ</BreadcrumbItem>
            <BreadcrumbItem>Danh sách đợt bảo vệ</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderExtra>
</PageHeader>
<Row>
    <Space>
        <SpaceItem>
            <Button Icon="plus" Type="primary" Color="Color.Green7" @onclick="AddThesisDefense">Thêm</Button>
        </SpaceItem>
        <SpaceItem>
            @if (selectedRows?.Any() == true)
            {
                <SpaceItem>
                    <Popconfirm Placement="@Placement.LeftBottom"
                            OnConfirm="() => DeleteAsync()"
                            OkText="Đồng ý"
                            CancelText="Hủy">
                        <ChildContent>
                            <Button Type="@ButtonType.Primary" Color="Color.Red7">Xóa</Button>
                        </ChildContent>
                        <TitleTemplate>
                            Bạn có chắc chắn muốn xóa
                            @if (selectedRows.Count() == 1)
                            {
                                <strong> @selectedRows?.FirstOrDefault().Name</strong>

                                <span>?</span>
                            }
                            else
                            {
                                <strong> @selectedRows.Count()</strong> <span>nhân viên?</span>
                            }

                        </TitleTemplate>
                    </Popconfirm>
                </SpaceItem>
            }
        </SpaceItem>
    </Space>
</Row>
<br />
<Table @ref="table" DataSource="thesisDefenseDatas" Loading="loading" ScrollX="1500" ScrollY="600" ScrollBarWidth="5px" Locale="TableLocale"
       TItem="ThesisDefenseData" Size=@TableSize.Small
       OnRowClick="OnRowClick"
       @bind-SelectedRows="selectedRows">
    <ChildContent>
        <Selection Key="@context.Id" Fixed="left" Width="50px"></Selection>
        <Column @bind-Field="context.stt" Width="100px;" Sortable></Column>
        <Column @bind-Field="context.Code" Sortable></Column>
        <Column @bind-Field="context.Name" Sortable></Column>
        <Column @bind-Field="context.YearOfProtection" Format="yyyy" Sortable></Column>
        <ActionColumn Title="Thao tác">
            <ChildContent>
                <Row Justify="center">
                    <Space>
                        <SpaceItem>
                            <Tooltip Placement="@Placement.Top" Title="@("Danh sách học viên bảo vệ")">
                                <Icon Type="edit" Theme="fill" Class="btn-icon-edit" OnClick="() => OpenDetailAsync(context)" StopPropagation />
                            </Tooltip>
                        </SpaceItem>
                        <SpaceItem>
                            <Tooltip Placement="@Placement.Top" Title="@("Xem chi tiết")">
                                <Icon Type="eye" @onclick="() => Edit(context)" Theme="fill" Class="btn-icon-edit" StopPropagation/>
                            </Tooltip>
                        </SpaceItem>
                        <SpaceItem>
                            <Tooltip Placement="@Placement.Top" Title="@("Xóa")">
                                <Popconfirm Title="Xác nhận xóa?"
                                            OnConfirm="()=> DeleteThesisDefense(context)"
                                            OkText="Có"
                                            CancelText="Không">
                                    <Icon Type="delete" Theme="fill" Class="btn-icon-delete" />
                                </Popconfirm>
                            </Tooltip>
                        </SpaceItem>
                    </Space>
                </Row>
            </ChildContent>
        </ActionColumn>
    </ChildContent>
    <PaginationTemplate>
        <PaginationCustom Context="context"></PaginationCustom>
    </PaginationTemplate>
</Table>

<Drawer Closable="true" Visible="visible" Placement="right" Width=500 Title='("Đợt bảo vệ")' OnClose="OnClose">
    <ThesisDefenseEdit @ref="thesisDefenseEdit" Cancel="() => visible = false" ValueChange="Save" CurrentUser="CurrentUser"></ThesisDefenseEdit>
</Drawer>
<Drawer Closable="true" Width="1500" Visible="visibleForDetail" OnClose="OnCloseForDetail" Title='(titleOfThesisDefenseDetail)'>
    <ThesisDefenseDetail @ref="ThesisDefenseDetail"></ThesisDefenseDetail>
</Drawer>
