@using luanvanthacsi.Data.Data;
@using luanvanthacsi.Data.Edit;

<Row Gutter="8">
    <AntDesign.Col Span="24">
        <Button Icon="plus" OnClick="AddListThesisDefenseAsync" Style="" Color="Color.Green7">Chọn học viên viên</Button>
    </AntDesign.Col> 
    <br />
    <AntDesign.Col Span="24">
        <Table Context="tableContext" TItem="StudentData" DataSource="@studentDatas" Class="table-striped" ScrollY="300">
            <Column @bind-Field="@tableContext.Code" Ellipsis="true"></Column>
            <Column @bind-Field="@tableContext.Name" Ellipsis="true"></Column>
            <Column @bind-Field="@tableContext.DateOfBirth" Format="dd/mm/yyyy" Ellipsis="true"></Column>
            <Column @bind-Field="@tableContext.Email" Ellipsis="true"></Column>
            <Column @bind-Field="@tableContext.PhoneNumber" Ellipsis="true"></Column>
            <ActionColumn Ellipsis="true">
                <Popconfirm Placement="Placement.LeftBottom" Title="Bạn có chắc chắn muốn xóa dữ liệu đã chọn?"
                            OnConfirm="() => RemoveThesisDefense(tableContext)"
                            OkText="Đồng ý"
                            CancelText="Hủy">
                    <Button Icon="close" Type="@ButtonType.Primary" Danger>Xóa</Button>
                </Popconfirm>
            </ActionColumn>
        </Table>
    </AntDesign.Col>
</Row>

<ThesisDefenseSearchModal @ref="thesisDefenseSearchModal" ModalVisible="modalVisible" ChangeStudentList="LoadAsync" ChanageModalVisible="ChangeModalVisible"></ThesisDefenseSearchModal>