@page "/mo-dot-bao-ve"
@using luanvanthacsi.Data.Data;
@attribute [Authorize(Roles = "Admin")]
<PageTitle>Mở đợt bảo vệ</PageTitle>

<Row>
    <Space>
        <SpaceItem>
            <Button Type="primary" @onclick="AddThesisDefense">Thêm</Button>
        </SpaceItem>
        <SpaceItem>
            @if (selectedRows?.Any() == true)
            {
                <SpaceItem>
                    <Popconfirm Placement="@Placement.LeftBottom"
                            OnConfirm="() => DeleteAsync()"
                            OkText="Đồng ý"
                            CancelText="Hủy">
                        <ChildContent>
                            <Button Type="@ButtonType.Primary" Danger>Xóa</Button>
                        </ChildContent>
                        <TitleTemplate>
                            Bạn có chắc chắn muốn xóa
                            @if (selectedRows.Count() == 1)
                            {
                                <strong> @selectedRows?.FirstOrDefault().Name</strong>

                                <span>?</span>
                            }

                            else
                            {
                                <strong> @selectedRows.Count()</strong> <span>nhân viên?</span>
                            }

                        </TitleTemplate>
                    </Popconfirm>
                </SpaceItem>
            }
        </SpaceItem>
    </Space>
</Row>
<br />
<Row>
    <Form Model="@taskSearch" Style="display:flex; width: 500px; height: 40px;"
          OnFinish="Search">
        <FormItem Style="width: 70%">
            <Search @bind-Value="@context.txtSearch" Placeholder="Tìm kiếm theo tên." />
        </FormItem>
    </Form>
</Row>

<Table @ref="table" DataSource="thesisDefenseDatas" Loading="loading" ScrollX="1500" ScrollY="600" ScrollBarWidth="5px" Locale="TableLocale"
       TItem="ThesisDefenseData"
       OnRowClick="OnRowClick"
       @bind-SelectedRows="selectedRows">
    <ChildContent>
        <Selection Key="@context.Id" Fixed="left" Width="50px"></Selection>
        <Column @bind-Field="context.stt" Width="100px;" Sortable></Column>
        <Column @bind-Field="context.Code" Sortable></Column>
        <Column @bind-Field="context.Name" Sortable></Column>
        <Column @bind-Field="context.YearOfProtection" Format="yyyy" Sortable></Column>
        <ActionColumn Title="Hành động">
            <Icon Type="eye" Theme="outline" OnClick="() => OpenDetailAsync(context)" Width="20" Height="20" Style="margin-right: 10px" />
            <Icon Type="edit" Theme="outline" @onclick="() => Edit(context)" Width="20" Height="20" Style="margin-right: 10px" />
            <Popconfirm Title="Xác nhận xóa?"
                        OnConfirm="()=> DeleteStudent(context)"
                        OkText="Có"
                        CancelText="Không">
                <Icon Type="delete" Theme="outline" Width="20" Height="20" />
            </Popconfirm>
        </ActionColumn>
    </ChildContent>
    <PaginationTemplate>
        <PaginationCustom Context="context"></PaginationCustom>
    </PaginationTemplate>
</Table>

<Drawer Closable="true" Visible="visible" Placement="right" Width=500 Title='("Đợt bảo vệ")' OnClose="OnClose">
    <ThesisDefenseEdit @ref="thesisDefenseEdit" Cancel="() => visible = false" ValueChange="Save" CurrentUser="CurrentUser"></ThesisDefenseEdit>
</Drawer>
<Drawer Closable="true" Width="1500" Visible="visibleForDetail" OnClose="OnCloseForDetail" Title='("Danh sách học viên bảo vệ.")'>
    <ThesisDefenseDetail @ref="ThesisDefenseDetail"></ThesisDefenseDetail>
</Drawer>
