<Form @ref="form"
      Model="EditModel" LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <Template style="height:90%">
        <FormItem Label="Mã nhà khoa học">
            <Input @bind-Value="@context.Code" />
        </FormItem>
        <FormItem Label="Tên nhà khoa học">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="Email">
            <Input @bind-Value="@context.Email" />
        </FormItem>
        <FormItem Label="Số điện thoại">
            <Input @bind-Value="@context.PhoneNumber" />
        </FormItem>
         <FormItem Label="Học hàm">
            <Input @bind-Value="@context.AcademicRank" />
        </FormItem>
         <FormItem Label="Học vị">
            <Input @bind-Value="@context.Degree" />
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Lưu
            </Button>
            <Button OnClick="Reset">
                Reset
            </Button>
        </FormItem>
    </Template>
</Form>
