@page "/students"
@using luanvanthacsi.Data.Components
@using luanvanthacsi.Data.Data;
@using System.ComponentModel;
@using luanvanthacsi.Data.Entities;
@using luanvanthacsi.Excel;
@attribute [Authorize(Roles = "Admin,Bcnkhoa")]
<PageTitle>Quản lý học viên</PageTitle>
<PageHeader Style="padding: 0;">
    <PageHeaderExtra>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem>Học viên</BreadcrumbItem>
            <BreadcrumbItem>Danh sách học viên</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderExtra>
</PageHeader>
<Row>
    <Space>
        <SpaceItem>
            <Button Icon="plus" Type="@ButtonType.Primary" Color="Color.Green7" @onclick="AddStudent">Thêm</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Icon="file-excel" type="@ButtonType.Primary" OnClick="ShowImport">
                Nhập Excel
            </Button>
        </SpaceItem>
        <SpaceItem>
            <Button Icon="file-excel" type="@ButtonType.Primary" OnClick="ExportExcelAsync">
                Xuất Excel
            </Button>
        </SpaceItem>
        <SpaceItem>
            @if (selectedRows?.Any() == true)
            {
                <Popconfirm Placement="@Placement.LeftBottom"
                        OnConfirm="() => DeleteAsync()"
                        OkText="Đồng ý"
                        CancelText="Hủy">
                    <ChildContent>
                        <Button Type="@ButtonType.Primary" Color="Color.Red7">Xóa</Button>
                    </ChildContent>
                    <TitleTemplate>
                        Bạn có chắc chắn muốn xóa
                        @if (selectedRows.Count() == 1)
                        {
                            <strong> @selectedRows?.FirstOrDefault()?.Name</strong>

                            <span>?</span>
                        }
                        else
                        {
                            <strong> @selectedRows.Count()</strong> <span>Học viên?</span>
                        }
                    </TitleTemplate>
                </Popconfirm>
            }
        </SpaceItem>
    </Space>
</Row>
<br />
<Row>
    <AntDesign.Col Span="12">
        @if (SessionData.CurrentUser?.FacultyId == null)
        {
            <Select TItem="Faculty" TItemValue="string" EnableSearch Placeholder="Chọn khoa"
                DataSource="facultyList"
                ValueName="@nameof(Faculty.Id)"
                LabelName="@nameof(Faculty.Name)"
                @bind-Value="@facultyId"
                OnSelectedItemChanged="ChangeFacultyId">
            </Select>
        } 
    </AntDesign.Col>
</Row>
<br />
<Table @ref="table" DataSource="studentDatas" Loading="loading" Locale="TableLocale"
       TItem="StudentData" ScrollX="1500" ScrollY="600" ScrollBarWidth="5px" OnRowClick="OnRowClick" Size=@TableSize.Small
       @bind-SelectedRows="selectedRows">
    <ChildContent>
        <Selection Key="@context.Id" Fixed="left" Width="50"></Selection>
        <Column @bind-Field="context.stt" Width="80" Sortable></Column>
        <Column @bind-Field="context.Code" Ellipsis Sortable Filterable></Column>
        <Column @bind-Field="context.Name" Ellipsis Sortable Width="150" Filterable></Column>
        <Column @bind-Field="context.Email" Ellipsis Width="200" Sortable Filterable></Column>
        <Column @bind-Field="context.PhoneNumber" Ellipsis Filterable></Column>
        <Column @bind-Field="context.DateOfBirth" Format="dd/MM/yyyy" Sortable></Column>
        <Column @bind-Field="context.SpecializedName" Width="250p" Ellipsis Sortable></Column>
        <Column @bind-Field="context.TopicName" Width="250p" Ellipsis Sortable Filterable></Column>
        <Column @bind-Field="context.InstructorNameOne" Width="150" Ellipsis Sortable Filterable></Column>
        <Column @bind-Field="context.InstructorNameTwo" Width="150" Ellipsis Sortable Filterable></Column>
        <ActionColumn Title="Thao tác" Width="80">
            <ChildContent>
                <Row>
                    <Space>
                        <SpaceItem>
                            <Tooltip Placement="@Placement.Top" Title="@("Xem chi tiết")">
                                <Icon Type="edit" @onclick="() => Edit(context)" Theme="fill" Class="btn-icon-edit" StopPropagation />
                            </Tooltip>
                        </SpaceItem>
                        <SpaceItem>
                            <Tooltip Placement="@Placement.Top" Title="@("Xóa")">
                                <Popconfirm Title="Xác nhận xóa?"
                                            OnConfirm="()=> DeleteStudent(context)"
                                            OkText="Có"
                                            CancelText="Không">
                                    <Icon Type="delete" Theme="fill" Class="btn-icon-delete" />
                                </Popconfirm>
                            </Tooltip>
                        </SpaceItem>
                    </Space>
                </Row>
            </ChildContent>
        </ActionColumn>
    </ChildContent>
    <PaginationTemplate>
        <PaginationCustom Context="context"></PaginationCustom>
    </PaginationTemplate>
</Table>

<Drawer Closable="true" Visible="visible" Placement="right" Width=500 Title='("Học viên")' OnClose="OnClose">
    <StudentEdit @ref="studentEdit" Cancel="() => visible = false" ValueChange="Save" facultyId="@facultyId"></StudentEdit>
</Drawer>

<ImportExcelForm @ref="importExcelFormRef" Visible="importVisible" CancelChange="ImportExcelCancel"
                 ImportSuccessStaff="(e => ImportFromFileAsync(e.Item1, e.Item2))"
                 IsCustomTemplateFile="true" CustomTemplateFileChange="GetTemplateFileAsync" />

<Modal Title="@("Thông báo")" Visible="existModalVisible" OnOk="SaveAndUpdateAsync" OnCancel="CancelImport">
    <p>Danh sách gồm những mã học viên đã tồn tại trên hệ thống? Bạn có muốn cập nhật không?</p>
</Modal>