<Form @ref="form"
      Model="EditModel" LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <Template style="height:90%">
        <FormItem Label="Mã học viên">
            <Input @bind-Value="@context.Code" ReadOnly/>
        </FormItem>
        <FormItem Label="Tên học viên">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="Email">
            <Input @bind-Value="@context.Email" />
        </FormItem>
        <FormItem Label="Số điện thoại">
            <Input @bind-Value="@context.PhoneNumber" />
        </FormItem>
        <FormItem Label="Ngày sinh">
            <DatePicker @bind-Value="@context.DateOfBirth" Format="dd/MM/yyyy" Style="width: 301px" DisabledDate="@DisabledDate"></DatePicker>
        </FormItem>
        <FormItem Label="Tên đề tài">
            <TextArea @bind-Value="@context.TopicName" MaxLength="100" ShowCount></TextArea>
        </FormItem>
        <FormItem Label="Người hướng dẫn 1">
            <Input @bind-Value="@context.InstructorOne" />
        </FormItem>
        <FormItem Label="Người hướng dẫn 2">
            <Input @bind-Value="@context.OnstructorTwo" />
        </FormItem>


        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Lưu
            </Button>
            <Popconfirm Placement="@Placement.LeftBottom"
                        OnConfirm="Reset"
                        OkText="Đồng ý"
                        CancelText="Hủy">
                <ChildContent>
                    <Button Type="@ButtonType.Primary" Danger>Hủy</Button>
                </ChildContent>
                <TitleTemplate>
                    Hủy sẽ xóa dữ liệu bạn đang thao tác. bạn có chắc muốn hủy không?
                </TitleTemplate>
            </Popconfirm>
        </FormItem>
    </Template>
</Form>
