<Form Model="EditModel"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <Template style="height:90%">
        <FormItem Label="Mã hội đồng">
            <Input @bind-Value="@context.Code" ReadOnly />
        </FormItem>
        <FormItem Label="Tên hội đồng">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Space>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        Lưu
                    </Button>
                </SpaceItem>
                <SpaceItem>
                    <Popconfirm Placement="@Placement.LeftBottom"
                                OnConfirm="Reset"
                                OkText="Đồng ý"
                                CancelText="Hủy">
                        <ChildContent>
                            <Button Type="@ButtonType.Primary" Danger>Hủy</Button>
                        </ChildContent>
                        <TitleTemplate>
                            Hủy sẽ xóa dữ liệu bạn đang thao tác. bạn có chắc muốn hủy không?
                        </TitleTemplate>
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </FormItem>
    </Template>
</Form>