@page "/evaluationBoards"
@using luanvanthacsi.Data.Components
@using luanvanthacsi.Data.Data;
@using System.ComponentModel;
@using luanvanthacsi.Data.Entities;
@using static luanvanthacsi.Data.Components.Enum;
@attribute [Authorize(Roles = "Admin,Bcnkhoa")]
<PageTitle>Quản lý hội đồng đánh giá</PageTitle>
<PageHeader Style="padding: 0;">
    <PageHeaderExtra>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem>Hội đồng đánh giá</BreadcrumbItem>
            <BreadcrumbItem>Danh sách hội đồng đánh giá</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderExtra>
</PageHeader>
<div class="site-content">
    <Row Gutter="8">
        <AntDesign.Col Span="24">
            <Row>
                <Space>
                    @if (SessionData.CurrentUser?.FacultyId != null)
                    {
                        <SpaceItem>
                            <Button Icon="plus" Type="@ButtonType.Primary" Color="Color.Green7" OnClick="AddEvaluationBoard">Lập hội đồng</Button>
                        </SpaceItem>
                    }
                    @if (SessionData.CurrentUser?.FacultyId == null)
                    {
                        <SpaceItem>
                            <Button Icon="file-excel" type="@ButtonType.Primary" OnClick="ExportExcelAsync">
                                Xuất Excel
                            </Button>
                        </SpaceItem>
                        @if (selectedRows?.Any() == true)
                        {
                            <SpaceItem>
                                <Button Icon="file-word" type="@ButtonType.Primary" OnClick="ExportListWordAsync">
                                    Tải quyết định
                                </Button>
                            </SpaceItem>
                        }
                    }
                    <SpaceItem>
                        @if (selectedRows?.Any() == true)
                        {
                            <SpaceItem>
                                <Popconfirm Placement="@Placement.LeftBottom"
                                        OnConfirm="() => DeleteAsync()"
                                        OkText="Đồng ý"
                                        CancelText="Hủy">
                                    <ChildContent>
                                        <Button Type="@ButtonType.Primary" Color="Color.Red7">Xóa</Button>
                                    </ChildContent>
                                    <TitleTemplate>
                                        Bạn có chắc chắn muốn xóa
                                        @if (selectedRows.Count() == 1)
                                        {
                                            <strong> @selectedRows?.FirstOrDefault()?.StudentName</strong>

                                            <span>?</span>
                                        }
                                        else
                                        {
                                            <strong> @selectedRows.Count()</strong> <span>nhà khoa học?</span>
                                        }

                                    </TitleTemplate>
                                </Popconfirm>
                            </SpaceItem>
                        }
                    </SpaceItem>
                </Space>
            </Row>
            <br />
            <Row>
                <AntDesign.Col Span="12">
                    @if (SessionData.CurrentUser?.FacultyId == null)
                    {
                        <Select TItem="Faculty" TItemValue="string" EnableSearch Placeholder="Chọn khoa"
                            DataSource="facultyList"
                            ValueName="@nameof(Faculty.Id)"
                            LabelName="@nameof(Faculty.Name)"
                            @bind-Value="@facultyId"
                            OnSelectedItemChanged="ChangeFacultyId">
                        </Select>
                    }
                </AntDesign.Col>
            </Row>
            <br />
            <Row>
                <Table @ref="table" DataSource="evaluationBoardDatas" Loading="loading" ScrollX="1000" ScrollY="600" Locale="TableLocale" ScrollBarWidth="8px"
                       Size=@TableSize.Small
                       TItem="EvaluationBoardData"
                       OnRowClick="OnRowClick"
                       @bind-SelectedRows="selectedRows">
                    <ChildContent>
                        <Selection Key="@context.Id" Width="50" Fixed="left"></Selection>
                        <Column @bind-Field="context.stt" Sortable Width="80" Fixed="left"></Column>
                        <Column @bind-Field="context.StudentName" Width="200" Sortable Ellipsis Fixed="left"></Column>
                        <Column @bind-Field="context.TopicName" Width="300" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.SpecializedName" Width="300" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.InstructorNameOne" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.InstructorNameTwo" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.PresidentName" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.CounterattackerOne" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.CounterattackerTwo" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.CounterattackerThree" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.SecretaryName" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.ScientistOne" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.ScientistTwo" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.Status" Width="100">
                            <Template>
                                @if (context.Status == 1)
                                {
                                    <AntDesign.Text Copyable="false" Type="warning">Chờ duyệt</AntDesign.Text>
                                }
                                else if (context.Status == 2)
                                {
                                    <AntDesign.Text Copyable="false" Type="success">Đã duyệt</AntDesign.Text>
                                }
                                else
                                {
                                    <AntDesign.Text Copyable="false" Type="danger">Huỷ duyệt</AntDesign.Text>
                                }
                            </Template>
                        </Column>
                        <ActionColumn Title="Thao tác" Width="100" Fixed="right">
                            <Space>
                                <SpaceItem>
                                    <Tooltip Placement="@Placement.Top" Title="@("Xem chi tiết")">
                                        <Icon Type="edit" @onclick="() => Edit(context)" Theme="fill" Class="btn-icon-edit" StopPropagation />
                                    </Tooltip>
                                </SpaceItem>
                                @if (SessionData.CurrentUser?.FacultyId == null)
                                {
                                    <SpaceItem>
                                        <Tooltip Placement="@Placement.Top" Title="@("Tải quyết định")">
                                            <Icon Type="download" @onclick="() => ExportDocxAsync(context)" Theme="outline" Class="btn-icon-edit" StopPropagation />
                                        </Tooltip>
                                    </SpaceItem>
                                }
                                <SpaceItem>
                                    <Tooltip Placement="@Placement.Top" Title="@("Xóa")">
                                        <Popconfirm Title="Xác nhận xóa?"
                                                    OnConfirm="()=> DeleteEvaluationBoard(context)"
                                                    OkText="Có"
                                                    CancelText="Không">
                                            <Icon Type="delete" Theme="fill" Class="btn-icon-delete" />
                                        </Popconfirm>
                                    </Tooltip>
                                </SpaceItem>
                            </Space>
                        </ActionColumn>
                    </ChildContent>
                    <PaginationTemplate>
                        <PaginationCustom Context="context"></PaginationCustom>
                    </PaginationTemplate>
                </Table>
            </Row>
        </AntDesign.Col>
    </Row>
</div>


<Drawer Closable="false" Visible="addVisible" Height="SessionData.BrowserDimension.Height" OnClose="() => addVisible = false"
        Title='("Hội đồng đánh giá")' Placement="bottom">
    <Template>
        <EvaluationBoardAddLayout @ref="EvaluationBoardAddLayoutRef" SaveChange="Save" CancelDetail="CancelDetail"></EvaluationBoardAddLayout>
    </Template>
</Drawer>