@page "/evaluationBoards"
@using luanvanthacsi.Data.Components
@using luanvanthacsi.Data.Data;
@using System.ComponentModel;
@attribute [Authorize(Roles = "Admin,Bcnkhoa")]
<PageTitle>Quản lý hội đồng đánh giá</PageTitle>
<PageHeader Style="padding: 0;">
    <PageHeaderExtra>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem>Hội đồng đánh giá</BreadcrumbItem>
            <BreadcrumbItem>Danh sách hội đồng đánh giá</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderExtra>
</PageHeader>
<div class="site-content">
    <Row Gutter="8">
        <AntDesign.Col Span="24">
            <Row>
                <Space>
                    <SpaceItem>
                        <Button Icon="plus" Type="@ButtonType.Primary" Color="Color.Green7" @onclick="AddEvaluationBoard">Lập hội đồng</Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Icon="file-excel" type="@ButtonType.Primary" OnClick="ExportExcelAsync">
                            Xuất Excel
                        </Button>
                    </SpaceItem>
                    <SpaceItem>
                        @if (selectedRows?.Any() == true)
                        {
                            <SpaceItem>
                                <Popconfirm Placement="@Placement.LeftBottom"
                                        OnConfirm="() => DeleteAsync()"
                                        OkText="Đồng ý"
                                        CancelText="Hủy">
                                    <ChildContent>
                                        <Button Type="@ButtonType.Primary" Color="Color.Red7">Xóa</Button>
                                    </ChildContent>
                                    <TitleTemplate>
                                        Bạn có chắc chắn muốn xóa
                                        @if (selectedRows.Count() == 1)
                                        {
                                            <strong> @selectedRows?.FirstOrDefault()?.StudentName</strong>

                                            <span>?</span>
                                        }
                                        else
                                        {
                                            <strong> @selectedRows.Count()</strong> <span>nhà khoa học?</span>
                                        }

                                    </TitleTemplate>
                                </Popconfirm>
                            </SpaceItem>
                        }
                    </SpaceItem>
                </Space>
            </Row>
            <br />
            <Row>
                <Table @ref="table" DataSource="evaluationBoardDatas" Loading="loading" ScrollX="1000" ScrollY="600" Locale="TableLocale" ScrollBarWidth="8px"
                       Size=@TableSize.Small
                       TItem="EvaluationBoardData"
                       OnRowClick="OnRowClick"
                       @bind-SelectedRows="selectedRows">
                    <ChildContent>
                        <Selection Key="@context.Id" Width="50" Fixed="left"></Selection>
                        <Column @bind-Field="context.stt" Sortable Width="80" Fixed="left"></Column>
                        <Column @bind-Field="context.StudentName" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.TopicName" Width="300" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.InstructorOne" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.OnstructorTwo" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.PresidentName" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.CounterattackerOne" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.CounterattackerTwo" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.CounterattackerThree" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.SecretaryName" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.ScientistOne" Width="200" Sortable Ellipsis></Column>
                        <Column @bind-Field="context.ScientistTwo" Width="200" Sortable Ellipsis></Column>
                        <ActionColumn Title="Thao tác" Width="100" Fixed="right">
                            <Space>
                                <SpaceItem>
                                    <Tooltip Placement="@Placement.Top" Title="@("Xem chi tiết")">
                                        <Icon Type="edit" @onclick="() => Edit(context)" Theme="fill" Class="btn-icon-edit" StopPropagation />
                                    </Tooltip>
                                </SpaceItem>     
                                <SpaceItem>
                                    <Tooltip Placement="@Placement.Top" Title="@("Tải quyết định")">
                                        <Icon Type="download" @onclick="() => ExportDocxAsync(context)" Theme="outline" Class="btn-icon-edit" StopPropagation />
                                    </Tooltip>
                                </SpaceItem>
                                <SpaceItem>
                                    <Tooltip Placement="@Placement.Top" Title="@("Xóa")">
                                        <Popconfirm Title="Xác nhận xóa?"
                                                    OnConfirm="()=> DeleteEvaluationBoard(context)"
                                                    OkText="Có"
                                                    CancelText="Không">
                                            <Icon Type="delete" Theme="fill" Class="btn-icon-delete" />
                                        </Popconfirm>
                                    </Tooltip>
                                </SpaceItem>
                            </Space>
                        </ActionColumn>
                    </ChildContent>
                    <PaginationTemplate>
                        <PaginationCustom Context="context"></PaginationCustom>
                    </PaginationTemplate>
                </Table>
            </Row>
        </AntDesign.Col>
    </Row>
</div>


@*<Drawer Closable="true" Visible="visible" Placement="right" Width=500 Title='("Hội đồng đánh giá")' OnClose="OnClose">
    <EvaluationBoardEdit @ref="evaluationBoardEdit" Cancel="() => visible = false" ValueChange="Save" CurrentUser="CurrentUser"></EvaluationBoardEdit>
</Drawer>*@
<Drawer Closable="false" Visible="addVisible" Height="SessionData.BrowserDimension.Height" OnClose="() => addVisible=false"
        Title='("Lập hội đồng đánh giá")' Placement="bottom">
    <Template>
        <EvaluationBoardAddLayout @ref="EvaluationBoardAddLayoutRef" SaveChange="Save" CurrentUser="CurrentUser" CancelDetail="CancelDetail"></EvaluationBoardAddLayout>
    </Template>
</Drawer>